// Заголовки, загальні БЕМ блоки та інше...
.page {

    &__menu {
    }
    &__hero {
    }
    &__me {
    }
    &__projects {
    }
}
._navigator-active {
    background-color: $greenDark;
    color: #000;
    &._icon-code:before {
        color: #000;
    }
}