.page {
    position: relative;
    &::before{
        content:'';
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 100%;
        background: rgb(139,255,213);
        background: radial-gradient(circle, rgba(139,255,213,0.15312062324929976) 0%, rgba(0,0,0,1) 41%);
    }
}
//====================================================================================================
.menu {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 500;

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-left: toRem(1) solid rgba(255, 255, 255, 0.2);
        padding-left: toRem(30);
        padding-right: toRem(30);
        &::before{
            content:'';
            position: absolute;
            width: 49.795918%; /* 366/735 */
            height: 49.795918%; /* 366/735 */
            top: 0;
            right: 0;
            border-radius: 100%;
            background: rgb(139,255,213);
            background: radial-gradient(circle, rgba(139,255,213,0.15312062324929976) 0%, rgba(0,0,0,1) 41%);
        }
        @media (min-width:$tablet){
            &::after{
                content:'';
                position: absolute;
                width: toRem(65);
                height: toRem(65);
                bottom: -4%;
                left: toRem(-32.5);
                border-radius: 100%;
                background-color: $greenLight;
            }
        }
    }
    @media (min-width:$tablet){
        &__body.toTop{
            &::after{
                animation: toTop 0.8s forwards; 
            }
        }
        &__body.fromBottomtoCenter{
            &::after{
                animation: fromBottomtoCenter 0.8s forwards;  
            }
        }
        &__body.fromToptoCenter{
            &::after{
                animation: fromToptoCenter 0.8s forwards;  
            }
        }
        &__body.toBottom{
            &::after{
                animation: toBottom 0.8s forwards; 
            }
        }
        
        @keyframes fromBottomtoCenter {
            0%{
                bottom: -5%;
            }
            100%{
                bottom: 45%;
            }
        }
        @keyframes fromToptoCenter {
            0%{
                bottom: 97%;
            }
            100%{
                bottom: 45%;
            }
        }
        @keyframes toTop {
            0%{
                bottom: 45%;
            }
            100%{
                bottom: 95%;
            }
        }
        @keyframes toBottom {
            0% {
                bottom: 45%;
            }
            100%{
                bottom: -5%;
            }
        } 
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(toRem(70) , toRem(math.div(377,3))));
        grid-template-rows: repeat(3, auto);

    }

    &__item {
        text-align: center;
        border: toRem(1) solid rgba(255, 255, 255, 0.2);
        position: relative;
        min-height: toRem(127);
        @include adaptiveValue("min-height", 127, 70);
        &:nth-child(2){
            grid-column: span 2;
            &::after{
                content:'';
                position: absolute;
                width: toRem(10);
                height: toRem(10);
                bottom: toRem(-5);
                left: 48%;
                border-radius: 100%;
                background-color: #d9d9d9;
            }
        }
        &:nth-child(3){
            grid-column: span 3;
            &::before,&::after{
                content:'';
                position: absolute;
                width: toRem(10);
                height: toRem(10);
                bottom: toRem(-5);
                left: 32%;
                border-radius: 100%;
                background-color: #d9d9d9;
            }
            &::before{
                content:'';
                bottom: unset;
                top: toRem(-5);
            }
        }
        &:nth-child(5){
            grid-column: span 2;
            &::after{
                content:'';
                position: absolute;
                width: toRem(10);
                height: toRem(10);
                top: toRem(-5);
                left: 48%;
                border-radius: 100%;
                background-color: #d9d9d9;
            }
        }

    }

    &__link {
        text-transform: uppercase;
        font-size: toRem(40);   
        line-height: 112%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        transition: all 0.5s;
        @media (any-hover: hover){
            &:hover{
                background-color: $greenLight;
                color: #000;
                &._icon-code:before {
                    color: #000;
                }
            }
        }
        &._icon-code:before {
            transition: all 0.5s;
            font-size: toRem(60);
        }
    }
}

//====================================================================================================
.hero {
    &__container {
        gap: toRem(62);
    }

    &__title {
        font-family: JetBrainsMono;
        font-weight: 400;
        font-size: toRem(95);
        line-height: 147%;
        align-self: center;
        position: relative;
        @include adaptiveValue("font-size", 95, 35);
    }

    &__label {
        font-size: toRem(40);
        line-height: 112%;
        align-self: flex-start;
        position: relative;
        span {
            color: $greenLight;
        }
    }
}
//========================================================================================================================================================
.me {

    &__container {
    }

    &__text {
        @include adaptiveValue("padding-left", 93, 10, 0, 1230, 767.8);
        @include adaptiveValue("padding-right", 93, 10, 0, 1230, 767.8);
        @include adaptiveValue("font-size", 32, 24, 0, 1170, 767.8);
        p {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 40, 15, 0, 1230, 767.8);
            }
        }
    }
}
//========================================================================================================================================================
.skills {
    &__container {
    }

    &__item {
        position: relative;
        padding-left: toRem(20);
        line-height: 141%;
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
        &::before{
            content:'';
            position: absolute;
            width: toRem(6);
            height: toRem(6);
            top: toRem(22);
            left: 0;
            background-color: #c1f8e4;
            border-radius: 100%;
        }
    }
}


//========================================================================================================================================================
.projects {

    &__container {
    }

    &__list {
        position: relative;
        &::after{
            content:'';
            position: absolute;
            width: toRem(3);
            height: 100%;
            background-color: $greenDark;
            top: 0;
            left: toRem(-45);
        }
    }

    &__item {
        position: relative;
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
        &::before{
            content:'';
            position: absolute;
            width: toRem(15);
            height: toRem(15);
            background-color: #d9d9d9;
            border-radius: 100%;
            top: toRem(23);
            left: toRem(-27);
            z-index: 2;
        }
    }

    &__link {
        font-size: toRem(55);
        @include adaptiveValue("font-size", 55, 30);
        transition: all 0.3s;
        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
                scale: 1.07;
            }
        }
    }
}
//========================================================================================================================================================
.contact {

    &__container {
    }

    &__form {
        min-width: percent(393,720);
        @include adaptiveValue("min-width", 393, 300, 0, 1170, 767.8);
        display: flex;
        flex-direction: column;
        gap: toRem(4);
        position: relative;
        margin-bottom: toRem(20);
    }

    &__input {
        font-size: toRem(18);
        padding: toRem(20);
        border: toRem(3) solid $greenDark;

        &:first-child{
            border-radius: toRem(50) toRem(50) 0 0;
        }
        &:nth-child(3){
            border-radius: 0 0 toRem(50) toRem(50);
            min-height: toRem(230);
            resize: unset;
        }
    }
    
    &__button {
        position: absolute;
        width: 42.239186%; /* 166/393 */
        height: 15.249267%; /* 52/341 */
        bottom: 0;
        right: 0;
        border-radius: toRem(50) 0 toRem(50) 0;
        background-color: #c1f8e4;
        color: #000;
        border: toRem(3) solid $greenDark;
    }

    &__socials {
    }
}
.socials {
    display: flex;
    &__item {
        padding: toRem(13) toRem(32);
        border: toRem(1) solid $greenDark;
    }

    &__link {
        transition: all 0.3s;
        @media (any-hover: hover){
            &:hover{
                scale: 1.1;
            }
        }
    }
}
