.how {
    position: relative;
    background: linear-gradient(133.96deg, rgb(224, 147, 160) -45.367%,rgb(236, 221, 206) 118.936%);

    &__sign {
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: toRem(85);
        @include adaptiveValue("padding-top", 148, 110);
        @include adaptiveValue("padding-bottom", 189, 90);
    }

    &__item {
        background-color: #ECDDCE;
        max-width: toRem(1160);
        @include adaptiveValue("max-width", 1000, 280, 1, 1338, 320);
        @include adaptiveValue("padding-left", 176, 30);
        @include adaptiveValue("padding-right", 86, 30);
        @include adaptiveValue("padding-bottom", 68, 30);
        @include adaptiveValue("padding-top", 37, 30);
        position: relative;
        &::before{
            content:'';
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            @include adaptiveValue("font-size", 30, 18);
            font-weight: 700;
            line-height: math.div(36,30);
            width: toRem(167);
            height: toRem(90);
            top: toRem(-31);
            @include adaptiveValue("width", 167, 80);
            @include adaptiveValue("height", 90, 50);
            @include adaptiveValue("left", -85, -15);
            background-color: #000;
            color: #fff;
            z-index: 2;
        }
        @for $i from 1 to 7 {
            &:nth-child(#{$i})::before {
                content: 'step #{$i}';
            }
        } 
        &:not(:last-child) {
            &::after{
                content:'';
                position: absolute;
                width: toRem(3);

                @include adaptiveValue("height", 280, 340);
                top: 0;
                left: toRem(-1);
                background-color: #000;
            }
        }
    }

    &__title {
        font-size: toRem(30);
        @include adaptiveValue("font-size", 30, 22);
        font-weight: 700;
        line-height: math.div(36 , 30);
        &:not(:last-child) {
            margin-bottom: toRem(13);
        }
    }

    &__text {

    }
}
//========================================================================================================================================================

