//====================================================================================================
.main-section {

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100%;
        align-items: center;
        padding-bottom: toRem(30);
        padding-top: toRem(80);
        column-gap: toRem(20);
        @media (max-width:$mobile){
            grid-template-columns: auto;
            row-gap: toRem(35);
        }
    }

    &__content {
    }

    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 16);
        }
    }

    &__text {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
    }

    &__social {
    }
}
//========================================================================================================================================================
.decor-main-section {
    max-width: toRem(336);
    margin: 0 toRem(22);
    justify-self: center;
    @media (min-width:$mobile){
        justify-self: end;
        width: 100%;
    }
    @media (max-width:$mobile){
        max-width: none; 
        @include adaptiveValue("width", 336, 246);
    }
    &__box {
        position: relative;
        padding-bottom: percent(400, 336);
        &::before,
        &::after{
            content:'';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0; 
            border-radius: toRem(16);
        }
        &::before{
            z-index: 1;
            background-color: $purpleColor;
            transform: rotate(-9.55deg);
        }
        &::after{
            z-index: 2;
            background: #EAE6FE url('@img/main/lines.svg') top right no-repeat;
        }
    }
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: toRem(16);
        overflow: hidden;
    }
    &__picture{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        max-width: 100%;
    }
}

//====================================================================================================
.services {
    background-color: #fbfbfb;
    &__container{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: toRem(30);
        padding-top: toRem(80);
    }

    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 100, 30);
        }
    }

    &__items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
        @include adaptiveValue("gap", 56, 20);
    }

    &__item {
    }
}
//========================================================================================================================================================
.item-service {
    border-radius: toRem(8);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("padding", 50, 15);

    &__icon {
        &:not(:last-child) {margin-bottom: toRem(24);}
        width: toRem(56);
        height: toRem(56);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: toRem(16);
        background: rgb(245, 243, 254);
    }

    &__title {
        &:not(:last-child) {margin-bottom: toRem(16);}
        font-family: Plus Jakarta Sans;
        font-weight: 500;
        line-height: math.div(20 , 16);
    }

    &__text {
        text-align: center;
        font-size: toRem(14);
        font-weight: 400;
        line-height: math.div(24 , 14);
    }
}
//========================================================================================================================================================

.works {

    &__container {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        justify-content: center;
        padding-top: toRem(80);
        padding-bottom: toRem(30);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: toRem(20);
        @include adaptiveValue("margin-bottom", 144, 30);
        @media (max-width: toEm(600)){
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__title {
    }

    &__arrows {
        display: flex;
        align-items: center;
        gap: toRem(16);
        @media (max-width: toEm(600)){
            justify-content: center; 
        }
    }

    &__arrow {
        width: toRem(40);
        height: toRem(40);
        background-color: #EAE6FE;
        border-radius: toRem(16);
        color: #7E74F1;
        transition: background-color 0.3s;
        @media (any-hover: hover){
            &:hover{
                background-color: #b6a8fa;
            }
        }
        &.swiper-button-disabled{
            opacity: 0.5;
            cursor: default;
        }
        &_left {
            transform: rotate(-180deg);
        }

        &_right {
        }
    }
    &__slider {
        @media (max-width: toEm(650)){
            margin-right: toRem(-15);
            padding-right: toRem(15);
        }
    }

    &__wrapper {
    }

    &__slide {
    }

    &__item {
    }
}

.item-work {
    border: 1px solid rgb(245, 245, 245);
    border-radius: toRem(8);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    &__link_img{
        overflow: hidden;
        opacity: 0.5;
        transition: opacity 0.5s;
        img{
            transition: transform 0.5s;
        }
        @media (any-hover: hover){
            &:hover{
                opacity: 1;
                img{
                    transform: scale(1.1);
                }
            }
        }
        @media (any-hover: none){
            opacity: 1;
        }
    }
    &__img{
        aspect-ratio: 361/295;
    }

    &__body {
        padding: toRem(24);
        display: flex;
        flex-wrap: wrap;
        gap: toRem(16);
        align-items: center;
    }

    &__title {
        flex: 1 1 100%;
    }

    &__link-title {
        line-height: math.div(20 , 16);
        font-weight: 500;
        transition: all 0.3s;
        @media (any-hover: hover){
            &:hover{
                color: $purpleColor;
            }
        }
    }

    &__category {
    }

    &__link {
        font-size: toRem(24);
        transition: color 0.3s;
        @media (any-hover: hover){
            &:hover{
                color: $purpleColor;
            }
        }
    }
}

//========================================================================================================================================================
.career {
    background-color: #fbfbfb;
    &__container {
        display: grid;
        align-content: center;

        padding-top: toRem(80);
        padding-bottom: toRem(30);

        @include adaptiveValue("column-gap", 137, 30);
        @include adaptiveValue("row-gap", 80, 20);
        @media (min-width:$mobile){
            grid-auto-flow: column;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto;
        }
    }

    &__title {
    }

    &__navigation {
    }

    &__content {
        grid-row: span 2;
    }
}
.title {

    &__label {
    }

    &__value {
    }
}
.navigation--career {
    display: none;
    flex-direction: column;
    gap: toRem(9);
    @media (min-width:$mobile){
        display: flex;
    }
    &__title {
        text-align: start;
        padding: toRem(14) toRem(32);
        border-radius: toRem(4);
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s;

        &::after{
            @extend %ic;
            content:'\e905';
            font-size: toRem(12);
            display: none;
            ._tab-spoller &{
                display: unset;
            }
        }
        &._tab-active{
            background-color: #fff;
            color: $purpleColor;
            &::after{
                display: unset;
                ._tab-spoller &{
                    transform: rotate(90deg);
                }
            }
        }
    }
}
.content--career {
    display: flex;
    flex-direction: column;
    gap: toRem(15);
    &__body {
        padding-top: toRem(32);
    }

    &__header {
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: toRem(32);
    }

    &__title {
        font-family: Plus Jakarta Sans;
        font-size: toRem(18);
        font-weight: 500;
        line-height: math.div(23 , 18);
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
    }

    &__link {
        text-decoration: underline;
    }

    &__location {
        color: $greyColor;
        font-size: toRem(14);
        line-height: math.div(17,14);
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }

    &__status {
        font-size: toRem(14);
        font-weight: 500;
        line-height: math.div(24,14);
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }

    &__category {
    }

    &__main {
        padding-top: toRem(32);
    }

    &__list {
    }

    &__item {
        color: $greyColor;
        line-height: math.div(19 , 16);
        padding-left: toRem(28);
        position: relative;
        &:not(:last-child) {
            margin-bottom: toRem(15);
        }
        &::before{
            content:'';
            position: absolute;
            top: 50%;
            left: 0;
            width: toRem(10);
            height: toRem(2);
            background-color: #D9d9d9;
        }
    }
}
//========================================================================================================================================================
.articles {

    &__container {
        padding-top: toRem(80);
        padding-bottom: toRem(30);
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 144, 20);
    }

    &__title {
    }

    &__items {
        display: grid;
        align-self: stretch;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(toRem(280), toRem(361)));
        @include adaptiveValue("gap", 40, 20);
    }

    &__item {
    }
}
.item--articles {
    border-radius: toRem(8);
    border: 1px solid #f1f1f1;
    overflow: hidden;
    &__image {
        overflow: hidden;
        img{
            aspect-ratio: 361/243;
            transition: all 0.5s;
            @media (any-hover: hover){
                &:hover{
                    scale: 1.1;
                }
            }
        }
    }
    &__body{
        padding: toRem(16) toRem(16) toRem(24) toRem(16);
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    &__title {
        font-family: Plus Jakarta Sans;
        font-weight: 500;
        line-height: math.div(24,16);
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }

    &__date {
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }

    &__text {
        color: $greyColor;
        &:not(:last-child) {
            margin-bottom: toRem(42);
        }
    }

    &__link {
        color: $greyColor;
        font-weight: 500;
        font-size: toRem(14);
        line-height: math.div(17 , 14);
        align-self: center;
        transition: color 0.3s;
        @media (any-hover: hover){
            &:hover{
                color: $purpleColor;
            }
        }
    }
}
//========================================================================================================================================================
.clients {
    background-color: #fbfbfb;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @include adaptiveValue("gap", 144, 70);
        padding-top: toRem(80);
        padding-bottom: toRem(30);
    }

    &__title {
    }

    &__items {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(toRem(280), toRem(360)));
        @include adaptiveValue("column-gap", 48, 20);
        row-gap: toRem(70);
    }

    &__item {
    }
}
.item--clients {
    background-color: #fff;
    padding: toRem(0) toRem(52) toRem(24) toRem(32);
    border-radius: toRem(8);
    display: flex;
    flex-direction: column;
    align-items: start;
    &__image {
        align-self: center;
        border-radius: toRem(100);
        transform: translateY(-46.875%);
        overflow: hidden;
    }

    &__text {
        line-height: math.div(28 , 16);
        &:not(:last-child) {
            margin-bottom: toRem(48);
        }
    }

    &__name {
        font-family: Plus Jakarta Sans;
        font-size: toRem(14);
        font-weight: 500;
        line-height: math.div(18,14);
        &:not(:last-child) {
            margin-bottom: toRem(9);
        }
    }

    &__job {
    }
}
//========================================================================================================================================================
.education {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @include adaptiveValue("gap", 144, 30);
        padding-top: toRem(80);
        padding-bottom: toRem(30);
    }

    &__title {
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr percent(657,1200);
        column-gap: toRem(30);
        row-gap: toRem(50);
        @media (max-width:$mobile){
            grid-template-columns: 1fr;
        }
    }

    &__path {
    }

    &__skills {
    }
}
.path--education {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 64, 20);
    padding-left: toRem(40);
    position: relative;
    &::before{
        content:'';
        position: absolute;
        width: toRem(1);
        height: 78.571429%;
        background-color: #f1f1f1;
        top: toRem(8);
        left: toRem(12.5);
    }
    &__item {
    }

    &__title {
        position: relative;
        font-family: Plus Jakarta Sans;
        font-weight: 500;
        line-height: math.div(20,16);
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
        &::before{
            content:'';
            position: absolute;
            width: toRem(16);
            height: toRem(16);
            top: toRem(3);
            left: toRem(-35);
            border-radius: 50%;
            background-color: #f1f1f1;
        }
    }

    &__subtitle {
        color: $greyColor;
        font-size: toRem(14);
        line-height: math.div(17 , 14);
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }

    &__year {
        font-weight: 500;
        font-size: toRem(14);
        line-height: math.div(17 , 14);
    }
}
.skills--education {

    &__text {
        color: $greyColor;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 20);
        }
    }

    &__items{
        display: grid;
        row-gap: toRem(40);
    }

    &__item {
    }

    &__label {
        font-size: toRem(14);
        line-height: math.div(17 , 14);
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }

    &__line {
        height: toRem(8);
        background-color: #F5F3FE;
        border-radius: toRem(2);
        overflow: hidden;
        position: relative;
        span{
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $purpleColor;
        }
    }
}
//========================================================================================================================================================
.contacts {
    background-color: #fbfbfb;
    flex: 1 1 auto;
    &__container {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        
        padding-top: toRem(80);
        padding-bottom: toRem(30);

        @media (max-width:$mobile){
             grid-template-columns: 1fr; 
             row-gap: toRem(50);
        }
    }
    &__form {
    }

    &__body {
        @include adaptiveValue("padding-left", 105, 20);
    }

    &__item {
    }
}
.form {

    &__item {
        textarea{
            height: toRem(189);
            padding: toRem(16) toRem(24);
        }
        &:nth-child(1){
            margin-bottom: toRem(16);
        }
        &:nth-child(2){
            margin-bottom: toRem(24);
        }
        &:nth-child(3){
            margin-bottom: toRem(48);
        }
    }

    &__input {
        background-color: #fff;
        height: toRem(48);
        border-radius: toRem(8);
        padding: toRem(0) toRem(24) ;
        &::placeholder{
            color: $greyColor;
            font-size: toRem(14);
            line-height: math.div(17 , 14);
        }
        &:focus{
            &::placeholder{
                color: $purpleColor;
            }

        }
    }

    &__button{
        width: 100%;
        padding: toRem(24) toRem(16);
        background-color: $purpleColor;
        border-radius: toRem(8);
        color: #fff;
    }
}
.item--contacts {
    display: flex;
    align-items: center;
    &:not(:last-child) {
        margin-bottom: toRem(48);
    }
    &__icon {
        flex: 0 0 toRem(56);
        height: toRem(56);
        border-radius: toRem(16);
        background-color: #F5F3FE;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__body {
        padding-left: toRem(24);
    }

    &__title {
        font-weight: 500;
        line-height: math.div(19 , 16);
        &:not(:last-child) {
            margin-bottom: toRem(3);
        }
    }

    &__subtitle {
        font-size: toRem(14);
        line-height: math.div(24 , 14);
        color: $greyColor;
    }
}
