// Заголовки, загальні БЕМ блоки та інше...
.page {

    &__main {
    }
    &__features {
    }
    &__services {
    }
    &__rewiews {
    }
    &__location {
    }
}
//========================================================================================================================================================
.title {
    @include adaptiveValue("margin-bottom", 90, 50);

    &__label {
        color: $blueColor;
        font-size: toRem(18);  
        font-weight: 800;
        line-height: math.div(23 , 18);
        letter-spacing: 9.5%;
        text-transform: uppercase;
    }

    &__title {
        color: rgb(0, 0, 0);
        @include adaptiveValue("font-size", 48, 30);
        font-weight: 800;
        line-height: math.div(65 , 48);
        letter-spacing: 1%;
    }
}
//========================================================================================================================================================
.text{
    line-height: math.div(30,16);
    letter-spacing: toEm(0.2,16);
    font-weight: 500;
}
