@import url(https://fonts.googleapis.com/css?family=Jura:700,regular);
@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  src: url(../fonts/JetBrainsMono-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Jura;
  font-size: 2rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Jura;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #000
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(0deg,#010101 0,#ad00ff 50%,#010101 100%)
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.rootpage__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.rootpage__title {
  font-family: JetBrainsMono;
  font-size: 3.75rem;
  line-height: 1.4736842105;
  text-align: center
}
.rootpage__title:not(:last-child) {
  margin-bottom: 2.5rem
}
.rootpage__info {
  line-height: 1.1875
}
.rootpage__info:not(:last-child) {
  margin-bottom: 2.5rem
}
.rootpage__info span {
  color: #0df;
  font-weight: 700
}
.rootpage__subtitle {
  font-family: JetBrainsMono;
  text-align: center;
  font-size: 2.5rem
}
.rootpage__subtitle:not(:last-child) {
  margin-bottom: 2.5rem
}
.rootpage__item {
  position: relative;
  padding-left: 1.5625rem
}
.rootpage__item:not(:last-child) {
  margin-bottom: .9375rem
}
.rootpage__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: .1875rem;
  height: 150%;
  top: .9375rem;
  left: .375rem;
  background-color: #0df
}
.rootpage__item::before {
  content: "";
  position: absolute;
  width: .9375rem;
  height: .9375rem;
  top: .75rem;
  left: 0;
  background-color: #fff;
  border-radius: .625rem;
  z-index: 2
}
@media (any-hover:hover) {
  .rootpage__link:hover {
    text-decoration: underline
  }
}